@charset "UTF-8";
a{
  color:rgb(37, 139, 255);
  text-decoration: none;
}
a:visited{
  color:rgb(37, 139, 255);
  text-decoration: none;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}

footer {
  font-size:12px;
}
.topBar {
  background-color:rgba(75,88,166,1);
  font-size:20px;
  margin:0;
  margin-bottom:10px;
  padding-left:5px;
  padding-top:10px;
  padding-bottom:10px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  color:white
}

.updateInfo {
  float:right;
  width:40%;
}
.updateInfo > #updateInfo {
  color:black;
}

.settingList {
  font-size:17px;
  font-weight:bold;
  margin-bottom:10px;
}
